@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-space-mono);

  --color-brand-primary: #0d8c7c;
  --color-brand-secondary: #14b39f;
  --color-brand-purple: #6d5bd0;

  --color-bg-light: #f6f8f7;
  --color-bg-mint: #ecf6f5;

  --color-border-gray: #d3dedb;

  --color-text-dark: #10201c;
  --color-text-gray: #445751;
  --color-text-light: #7c8c87;

  --color-badge-purple: rgba(111, 63, 255, 0.5);
  --color-badge-purple-text: #8000ff;
}

body {
  font-family: var(--font-sans);
}

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d3dedb;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #445751;
}

button,
select {
  cursor: pointer;
}
